app-sidebar{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $bg-primary;
}

.sidebar__menu{
  background: $bg-white;
  border: 1px solid #f9f9f9;
  border-radius: 32px;
  width: 150px;
  display: flex;
  .sidebar__menu-item{
    padding: 14px;
    border-radius: 50%;
    background: $bg-secondary;
    ng-icon, ng-icon svg{
      color: $bg-white;
      font-size: 1.8rem;
    }
  }
}

.sidebar{
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.sidebar__logo{ }
