$font: 'Poppins', sans-serif;
$bg-primary: #f9f9f9;
$bg-white:#fff;
$bg-secondary:#010025;
$bg-brown:#efe7dd;
$color-secondary:#898989;
$color-black:#1d1d1d;
$color-yellow:#ffee00;
$color-blue-dark:#1d1d1d;
